/* Page: */
/* =============================== */

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  width: 64px;
  height: 64px;
  padding-top: 10px;
  vertical-align: middle;
  padding-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tile-4 {
  width: 70px;
  height: 70px;
  box-shadow: -5px -5px 5px #888;
  color: #4c4c4c;
  background: #ebebeb;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  flex: auto;
  cursor: pointer;
}

.tile-5 {
  width: 50px;
  height: 50px;
  box-shadow: -5px -5px 5px #888;
  color: #4c4c4c;
  background: #ebebeb;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  flex: auto;
  cursor: pointer;
}

.tile-3 {
  width: 85px;
  height: 95px;
  box-shadow: -5px -5px 5px #888;
  color: #4c4c4c;
  background: #ebebeb;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  font-size: 65px;
  text-align: center;
  font-weight: 700;
  flex: auto;
  cursor: pointer;
}

.tile-4:hover,
.tile-5:hover,
.tile-3:hover {
  box-shadow: -6px -6px 5px #888;
}

/********************************Left Side(Timer)*************************/
.left-side-box {
  width: 150px;
  height: 300px;
  float: left;
  position: absolute;
  left: 25px;
  top: 170px;
}

.left-side-box-buttons {
  width: 150px;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: 1px;
  box-shadow: 2px 2px 5px #888;
  cursor: pointer;
}

.timer-moves {
  color: #2582bf;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
}

/***************************** Right-Side(Moves)**************************/
.right-side-box {
  background: #96e5f4;
  height: 650px;
  width: 250px;
  vertical-align: top;
  border-radius: 5px;
  position: absolute;
  top: 170px;
  right: 25px;
  text-align: left;
  padding-left: 15px;
  overflow-y: auto;
  padding-bottom: 5px;
}

/*************************** Center ********************************/
.center {
  background: #65b7cd;
  width: 500px;
  height: 500px;
  display: inline-flex;
  vertical-align: top;
  margin-top: 100px;
  border-radius: 5px;
  flex-wrap: wrap;
}

/*************************** FOOTER *******************************/

.footer-buttons {
  background: #2584b2;
  padding: 10px;
  width: 200px;
  color: #72d3f3;
  font-weight: bold;
  margin: 5px;
  border: 1px;
  box-shadow: 2px 2px 5px #888;
  cursor: pointer;
  outline: none;
}

.footer {
  color: #72d3f3;
  position: absolute;
  bottom: 50px;
  width: 100%;
  margin-bottom: 50px;
}

/******************************** Mobile **************************/
@media only screen and (max-width: 1098px) {
  .footer {
    display: inline-block;
    width: 100%;
    position: inherit;
    margin-top: 10px;
  }

  .footer-buttons {
    width: 120px;
  }

  .right-side-box {
    top: 80px;
    z-index: 10000;
    height: 80% !important;
    right: 0px;
    display: none;
  }

  .left-side-box {
    width: 100%;
    position: inherit;
    margin-top: 10px;
    height: auto;
  }

  .left-side-box-buttons {
    width: 100px;
    margin: 5px;
  }
  .timer-moves {
    width: 120px;
    display: inline-block;
  }

  .center {
    margin-top: 10px;
  }

  .mobile-menu {
    display: block !important;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .center {
    margin-top: 10px;
    width: 100%;
    height: 100vw;
  }

  .tile-4 {
    font-size: 10vw;
    width: 11vw;
    height: 11vw;
    margin: 10px;
  }

  .tile-5 {
    font-size: 6vw;
    width: 9vw;
    height: 8vw;
  }

  .tile-3 {
    font-size: 10vw;
    width: 17vw;
    height: 17vw;
    margin: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .tile-4 {
    font-size: 7vw;
    width: 8vw;
    height: 8vw;
  }

  .tile-5 {
    font-size: 5vw;
    width: 7vw;
    height: 7vw;
  }

  .tile-3 {
    font-size: 11vw;
    width: 12vw;
    height: 15vw;
    margin: 15px;
  }
}
